<div class="container">
  <div class="underlined">
    <h2 class="article-header">Statistic</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <span class="feed-info">Feeds: {{feeds.length}}</span>
    </div>

    <div class="col-lg-8 col-md-8" *ngIf="selectedFeed">
      <span class="feed-info">Authors: {{authors.size}}</span>
      <span class="feed-info">Articles: {{selectedFeed.articles.length}}</span>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-3 col-md-3">

      <select class="form-control" [(ngModel)]="selectedFeed" (change)="collectAuthors()">
        <option [ngValue]="undefined" selected hidden>Select the feed</option>
        <option *ngFor="let feed of feeds"
                [ngValue]="feed">{{feed.info.title}}
        </option>
      </select>
    </div>

    <div class="col-lg-9 col-md-9">

      <select class="form-control" [(ngModel)]="selectedArticle" (change)="countCharacters()">
        <option [ngValue]="undefined" selected hidden>Select the article</option>
        <option *ngFor="let article of selectedFeed?.articles"
                [ngValue]="article">{{article.title}}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="container" *ngIf="selectedArticle">
  <div class="feed-info">Article's message details:</div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-chart [chartLabels]="chartLabels"
                 [chartData]="chartData">
      </app-chart>
    </div>
  </div>
</div>
